.NowPlaying {
  /* center div in page */
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: min(50vw, 50vh);

  /* style */
  text-align: left;
  color: white;
}

.NowPlaying-art {
  width: 100%;
  pointer-events: none;
}

.NowPlaying-BlankArt {
  height: 0px;
  width: 100%;
  padding-bottom: 100%;
  display: inline-block;
  pointer-events: none;
  position: relative;
}

.NowPlaying-Square {
  position: absolute;
  top: 0px; left: 0px;
  background: #32353B;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.NowPlaying-Circle1 {
  position: absolute;
  top: 15%; left: 15%;
  width: 70%;
  height: 70%;
  background: #66696F;
  border-radius: 70%;
  z-index: 5;
}

.NowPlaying-Circle2 {
  position: absolute;
  top: 32.5%; left: 32.5%;
  width: 35%;
  height: 35%;
  background: #32353B;
  border-radius: 100%;
  z-index: 6;
}

.NowPlaying-Circle3 {
  position: absolute;
  top: 37%; left: 37%;
  width: 26%;
  height: 26%;
  background: #66696F;
  border-radius: 100%;
  z-index: 7;
}

.NowPlaying-Circle4 {
  position: absolute;
  top: 48%; left:48%;
  width: 4%;
  height: 4%;
  background: #32353B;
  border-radius: 100%;
  z-index: 8;
}

.NowPlaying h3 {
  margin: 0px;
  margin-top: max(5px, 5%);
  font-size: calc(12px + min(2.2vw, 2.2vh));
}

.NowPlaying h4 {
  /* font style */
  font-weight: normal;
  font-size: calc(10px + min(1.2vw, 1.2vh));
  color: #bbb;

  /* positioning */
  margin: 0px;
  padding-top: 5px;
}
